.change-glasses-area {
  z-index: 10;
  position: relative;
}

.showcase {
  position: relative;
}

.showcase img.model {
  width: 300px;
}

.table-glasses img {
  width: 100px;
}

.glasses-on-model {
  width: 150px;
  position: absolute;
  top: 96px;
  left: 43.3%;
}
